i {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
}
a,
a:visited {
  text-decoration: none;
  color: white;
}

/* ul.nav {
  text-align: center;
}
ul.nav li a i {
  display: inline-block;
  text-align: center;
  line-height: 10px;
} */

.header {
  display: flex;
  margin: 0 2vw;
  align-items: flex-start;
}

.header-home {
  display: flex;
  margin: 0 2vw;
  align-items: flex-end;
}
.hidden {
  display: none;
}

.desktop-header {
  display: none;
}
.logo {
  width: 35vw;
}
.logo-large {
  width: 40vw;
}
.logo-box {
  flex-grow: 1;
  margin-top: 2vw;
}
.right-header {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.search-box {
  order: 2;
}
.nav-box {
  display: flex;
  justify-content: flex-end;
  margin: 3vw 0;
  font-size: 6vw;
  font-variant: small-caps;
}

li {
  padding-left: 2vw;
  line-height: 5vw;
}
.home-link {
  padding-right: 2vw;
}

.home-link:not(:last-child) {
  border-right: solid 1px white;
}

/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 992px) {
  .desktop-header {
    display: inline;
  }
  .mobile-header {
    display: none;
  }

  .home-header-d {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
  .not-home-header-d {
    display: flex;
    align-content: stretch;
  }

  .top-header-box {
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
  }
  .logo {
    height: 15vh;
    width: auto;
  }
  .logo-large {
    height: 38vh;
    width: auto;
  }
  .home-logo-box-d {
    margin: 1vw 0;
    height: 38vh;
  }
  .not-home-logo-box-d {
    margin: 1vw 0;
    /* height: 38vh; */
    flex-grow: 3;
  }

  .home-nav-box-d {
    display: flex;
    margin: 1vw 0;
    font-size: 2.5vw;
    font-variant: small-caps;
  }
  .not-home-nav-box-d {
    display: flex;
    justify-content: flex-end;
    margin: 2vh 0;
    font-size: 2.5vw;
    font-variant: small-caps;
    flex-grow: 3;
  }

  li {
    line-height: 10px;
    padding: 0 1vw;
  }

  .home-link {
    height: 2vh;
  }

  .home-link:not(:last-child) {
    border-right: solid 1px white;
  }

  .tagline {
    position: relative;
    left: 25vw;
    bottom: 8vh;
    line-height: 20px;
    margin: 0;
    height: 2vh;
    width: 50vw;
  }
  .home-search-box-d {
    display: flex;
    justify-content: center;
  }

  .not-home-search-box-d {
    display: flex;
    justify-content: center;
    margin: 2vh 0 0 15vw;
    flex-grow: 5;
  }
}
