ul {
  list-style: none;
  display: flex;
  margin: 0;
}
a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #eeeeee;
}

.header {
  display: flex;
  margin: 0 2vw;
  align-items: flex-start;
}

.header-home {
  display: flex;
  margin: 0 2vw;
  align-items: flex-end;
}
.hidden {
  display: none;
}

/* MOBILE VIEW --------------------------------------*/

.logo {
  width: 35vw;
}
.logo-large {
  width: 40vw;
}
.logo-box {
  flex-grow: 1;
}
.right-header {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.search-box {
  order: 2;
}
.nav-box {
  display: flex;
  justify-content: flex-end;
  margin: 3vw 0;
  font-size: 6vw;
  font-variant: small-caps;
}
li {
  padding: 0 3vw;
}

.home-link:not(:last-child) {
  border-right: solid 1px white;
}

.fa-heart {
  margin-left: 1vw;
  font-size: 4vw;
}

/* TABLET VIEW --------------------------------------*/

/* DESKTOP VIEW --------------------------------------*/
