<section class="mobile-section">
  <div class="top">
    <app-header></app-header>
    <div class="artist-headline">
      <div class="img-box">
        <img
          class="artist-img"
          src="{{ imgUrl }}"
          default="https://miro.medium.com/max/360/1*W35QUSvGpcLuxPo3SRTH4w.png"
        />

        <i
          [ngClass]="favoritesId ? 'fas fa-minus-circle' : 'fas fa-plus-circle'"
          (click)="toggleFavorites()"
        ></i>
      </div>
      <div class="name-box">
        <h1 class="artist-name">{{ artistName }}</h1>
      </div>
      <button class="bio-btn icon" (click)="toggleBio()">
        ARTIST BIO<i
          [ngClass]="
            bioExpand
              ? 'far fa-minus-square bio-close'
              : 'fas fa-expand bio-expand'
          "
        ></i>
      </button>
    </div>
    <app-video-player
      (updateVideoFavorite)="updateFavoriteVideos($event)"
      [currentVideo]="currentVideo"
    ></app-video-player>
  </div>
  <div class="bottom">
    <div class="bio-box" [ngClass]="{ transform: bioExpand }">
      <p class="bio-p" [ngClass]="{ transform: bioExpand }">{{ biography }}</p>
    </div>
    <div class="videos-box">
      <h2 class="sim">Artist Videos</h2>
      <app-video-list
        (favoriteVideoEvent)="updateFavoriteVideos($event)"
        (changeVideoEvent)="changeVideo($event)"
        [list]="videoArray"
        class="videos"
      ></app-video-list>
    </div>
    <div class="artists-box">
      <h2 class="sim">Similar Artists</h2>
      <app-artist-list
        (favoriteEvent)="updateFavoriteArtists($event)"
        class="artists"
        [list]="similar"
      ></app-artist-list>
    </div>

    <!-- <form #apiKeyForm="ngForm" (submit)="setApiKey(apiKeyForm)">
      <input type="text" name="apiKey" ngModel />
      <button>set api key</button>
    </form> -->

    <div class="footer-m" [ngClass]="{ hidden: bioExpand }">
      <a routerLink="/about">About the Developers</a>
    </div>
  </div>
</section>
<section class="desktop-section">
  <div class="header">
    <app-header class="app-header"></app-header>
    <div class="artist-headline">
      <div class="img-box">
        <img
          class="artist-img"
          src="{{ imgUrl }}"
          default="https://miro.medium.com/max/360/1*W35QUSvGpcLuxPo3SRTH4w.png"
        />

        <i
          [ngClass]="favoritesId ? 'fas fa-minus-circle' : 'fas fa-plus-circle'"
          (click)="toggleFavorites()"
        ></i>
      </div>
      <div class="bio-name">
        <div class="name-box">
          <h1 class="artist-name">{{ artistName }}</h1>
        </div>
        <div class="bio-box-d">
          {{ biography }}
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <app-video-player
      (updateVideoFavorite)="updateFavoriteVideos($event)"
      [currentVideo]="currentVideo"
      class="vid-player"
    ></app-video-player>
    <div class="menu">
      <div class="videos-box-d">
        <h2 class="sim">Artist Videos</h2>
        <app-video-list
          (favoriteVideoEvent)="updateFavoriteVideos($event)"
          (changeVideoEvent)="changeVideo($event)"
          [list]="videoArray"
        ></app-video-list>
      </div>
      <div class="artists-box">
        <h2 class="sim">Similar Artists</h2>
        <app-artist-list class="artists" [list]="similar"></app-artist-list>
      </div>
    </div>
  </div>
  <!-- <div class="footer-d" [ngClass]="{ hidden: bioExpand }">
    <a routerLink="/about">About the Developers</a>
  </div> -->
</section>
