<section class="container">
  <app-header class="ap"></app-header>
  <div>
    <h1 class="h1">About The Developers</h1>
    <div class="devs-container">
      <div class="dev-box">
        <div class="headline">
          <h2 class="name">Chris Liu</h2>
          <a
            href="https://www.linkedin.com/in/chris-shaohualiu-liu/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/chrisshaohualiu/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github-square"></i
          ></a>
        </div>
        <div class="dev">
          <img src="assets/cl-headshot.png" alt="Chris Liu" class="headshot" />
          <p class="bio">
            Chris is a software developer from Ann Arbor, Michigan and also
            graduated from the Informatics program at the University of
            Michigan. Growing up in the age of AOL instant messenger and custom
            layouts on Xanga, an early fascination with digital tech and the
            online world was formed. When not studying computer science or
            making websites, he played and wrote music in bands that toured
            across the country, sleeping on the couches of friends he made
            through online forums and Facebook. He is also an avid gamer with
            over 1000 hours logged in CS:GO since his first PC build a few years
            back. A couple of his favorite musical artists right now are Bladee
            and Mazzy Star.
          </p>
        </div>
      </div>

      <div class="dev-box">
        <div class="headline abh">
          <h2 class="name">Abdullah Hamidudeen</h2>
          <a
            href="https://www.linkedin.com/in/abdullahthedev/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/Abdulvip/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github-square"></i
          ></a>
        </div>
        <div class="dev abd">
          <p class="bio ab">
            The tech industry is filled with possibilities and I'm willing to
            take the risks. I live in the Detroit, Michigan area. In September
            2020 I completed a Grand Circus bootcamp gaining the skills needed
            to become a Front End Developer. As a person of many passions,
            coding is a new and exciting opportunity for learning and job
            potential. Please checkout my linkedin and github repository for my
            portfolio.
          </p>
          <img
            src="assets/ab-headshot.jpg"
            alt="Abdullah Hamidudeen"
            class="headshot absh"
          />
        </div>

      </div>
      <div class="dev-box">
        <div class="headline">
          <h2 class="name">Kati Johnson</h2>
          <a
            href="https://www.linkedin.com/in/kati-johnson/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/katibjohnson/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github-square"></i
          ></a>
        </div>

        <div class="dev">
          <img
            src="assets/kj-headshot.jpeg"
            alt="Kati Johnson"
            class="headshot"
          />
          <p class="bio">
            Ambitious Web Developer working in Javascript, Angular, HTML, and
            CSS. I am eager to join an innovative development team where I can
            contribute my problem solving, project management, and creative
            thinking skills, all built during my time as an Event Coordinator,
            as well as my passion and skills in responsive, accessible, user
            focused development. Accessibility and diversity are very important
            to me, and I hope to make that a focus of my personal and
            professional work as I move forward in my career.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
