.artists {
  display: flex;
  max-width: 100%;
}

.artist-card {
  margin: 3vw 2vw 0 2vw;
}

.artists-home-view {
  display: none;
}

/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 992px) {
  .artists-home-view {
    display: inline;
  }

  .artists {
    display: flex;
    /* justify-content: space-evenly; */
    max-width: 100%;
  }

  .artist-card {
    margin: 3vw 2vw 0 2vw;
  }

  .artist-card:nth-child(2) {
    background: red;
  }
}
