/* mobile view _______________________ */
.artists {
  display: flex;
  /* justify-content: space-evenly; */
  max-width: 100%;
}

.artist-card {
  margin: 3vw 2vw 0 2vw;
}

/* tablet view _______________________ */
/* desktop view _______________________ */
/* desktop view _____________________________ */
@media screen and (min-width: 900px) {
  .artists {
    display: flex;
    /* justify-content: space-evenly; */
    max-width: 100%;
  }

  .artist-card {
    margin: 3vw 2vw 0 2vw;
  }

  .artist-card:nth-child(2) {
    background: red;
  }
}
