.videos {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2vw;
    
  }

  .video-card {
    margin: 2vw 1vw 0 1vw;
    display: flex;
    justify-content: center;

  }


/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 1025px) {
}
