.large-card {
  display: flex;
  width: 85vw;
  margin: 0;
  flex-wrap: wrap;
  position: relative;
  bottom: 7vh;
}

.artist-card {
  z-index: 1;
}

.artist-card:nth-child(1) {
  position: relative;
  bottom: 8vh;
  left: 12vw;
}
.artist-card:nth-child(2) {
  position: relative;
  top: 1vh;
  right: 10vw;
}
.artist-card:nth-child(3) {
  position: relative;
  top: 20vh;
  right: 8vw;
}
.artist-card:nth-child(4) {
  position: relative;
  top: 13vh;
  right: 6vw;
}
.artist-card:nth-child(5) {
  position: relative;
  top: 20vh;
}
.artist-card:nth-child(6) {
  position: relative;
  right: 16vw;
}
.artist-card:nth-child(7) {
  position: relative;
  right: 12vw;
}
.artist-card:nth-child(8) {
  position: relative;
  left: 65vw;
}
.artist-card:nth-child(9) {
  position: relative;
  bottom: 27vh;
  left: 60vw;
}
@media only screen and (min-width: 1400px) {
  .large-card {
    display: flex;
    width: 85vw;
    margin: 0;
    flex-wrap: wrap;
    position: relative;
    bottom: 10vh;
  }
}
