body,
header {
  margin: 0;
  padding: 0;
}
body,
button,
input {
  font-family: "Saira Semi Condensed", sans-serif;
}

body {
  background-image: url(assets/black_corners.jpg);
  background-size: cover;
  color: white;
}

/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 1025px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}
