button,
button:focus {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.desktop-search {
  display: none;
}
.search-bar {
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1vw 0 1vw 2vw;
}

.search-input,
.search-input:focus {
  border: none;
  outline: none;
  font-size: 4vw;
  flex-grow: 9;
  padding: 0;
  margin: 0;
}

.search-button {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  padding: 0;
  margin-left: 2vw;
}

.fa-search {
  font-size: 4vw;
}

/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 1025px) {
  .desktop-search {
    display: inline;
  }
  .mobile-search {
    display: none;
  }

  .home-search-d {
    border-radius: 20px;
    background-color: white;
    display: flex;
    padding-left: 2vw;
    width: 32vw;
  }
  .not-home-search-d {
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    width: 30vw;
  }

  .home-input-d,
  .home-input-d:focus,
  .not-home-input-d,
  .not-home-input-d:focus {
    border: none;
    outline: none;
    font-size: 1.7vw;
    flex-grow: 9;
    padding: 0;
    margin: 0;
  }

  .search-button {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    padding: 0;
    margin-left: 2vw;
  }

  .fa-search {
    font-size: 2vw;
  }
}
