<app-header></app-header>
<section class="mobile-section">

  <div class = "artists-box">
    <h1 class = "headline">favorite videos</h1>
    <app-video-list class="videos"
    (favoriteVideoEvent)="getFavoriteVideos()"
    [list]="favoriteVideosList"></app-video-list>
  </div>


<div class = "artists-box">
  <h1 class = "headline">favorite artists</h1>
  <app-artist-list
  class="artists"
  [list]="favoriteArtistsList"
  (favoriteEvent)="getFavoriteArtists()"
></app-artist-list>
</div>



</section>
