h1 {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

.desktop-section {
  display: none;
}
.mobile-section {
  position: relative;
  height: 100vh;
}

.home-search-m {
  position: absolute;
  display: flex;
  margin-top: 2vw;
  left: 25vw;
  top: 18vw;
}
.search-bar-m {
  width: 70vw;
  border: none;
  outline: none;
}

.artists-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline {
  font-size: 6vw;
  font-weight: 600;
  font-variant: small-caps;
  position: absolute;
}
.artists {
  width: 100%;
  overflow: scroll;
  margin-top: 4vh;
}

.footer-m {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  bottom: 1vw;
}

/* tablet view _____________________________ */
@media only screen and (min-width: 768px) {
}
/* desktop view _____________________________ */
@media only screen and (min-width: 1025px) {
  .mobile-section {
    display: none;
  }
  .desktop-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .tagline {
    width: 40vw;
    font: 2vw;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    left: 32vw;
  }

  .vertical {
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    height: 43vh;
    width: 12vw;
    margin-right: 0vw;
    z-index: 2;
  }

  .vertical::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
  }

  .vertical::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }

  .vertical::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid #555555;
    border-radius: 10px;
  }

  .favs-box {
    left: 86vw;
    top: 6vh;
  }

  .recent-box {
    left: 86vw;
    top: 55vh;
  }

  .recently-viewed {
    font-variant: small-caps;
    position: relative;
    left: 86vw;
    top: 3vh;
    font-size: 1.5vw;
    width: 12vw;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 25px;
    margin: 1vh 0;
  }

  .top-artists-d {
    position: relative;
    width: 80vw;
    padding: 0 0 15vh 2vw;
  }

  .footer-d {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    bottom: 1vw;
    padding-top: 3vh;
  }
}
